
@model IEnumerable<Studentmanagement.Core.Models.Studentinfomodel>

<!DOCTYPE html>
<html>
<head>
    <title>
        Display page
    </title>
</head>
<body>
    <div>
        <div class="btn-group-vertical">
            @Html.ActionLink("Addmarks", "AddMarks", "Home", new { }, new { @class = "btn-primary p-1" })
        </div>
        <div><table>
            <tr>
                @*<td>StudentID</td>*@
                <td>Name</td>
                <td>Emai</td>
                <td>Department</td>
                <td>Gender</td>
                <td>Action</td>
            </tr>
            @foreach (var ist in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(modelist => ist.name)</td>
                    <td>@Html.DisplayFor(modelist => ist.mail)</td>
                    <td>@Html.DisplayFor(modelist => ist.StudentDepartment)</td>
                    <td>@Html.DisplayFor(modelist => ist.Gender)</td>
                    @Html.HiddenFor(modelist => ist.studentId)
                    <td>@Html.ActionLink("Delete", "Delete", "Home", new { studentid = ist.studentId }, new { @class = "btn-danger w-70", onclick = "return confirm('Are you want to Delete');" })</td>

                </tr>
            }
        </table>
        </div>

    </div>
</body>
</html>
