@model IEnumerable<Studentmanagement.Core.Models.StudentMarkmodel>
<!DOCTYPE html>
<html>
<head>
    <title>
        Display Mark
    </title>
</head>
<body>
    <div> @Html.ActionLink("Back-To-AddMarks", "AddMarks", "Home", new { }, new { @class = "btn-info p-1" })</div>
    <div>
        <table>
            <tr>
                @*<td>StudentID</td>*@
                <td>Name</td>
                <td>Mark1</td>
                <td>Mark2</td>
                <td>Total</td>
                <td>Action</td>
            </tr>
            @foreach (var ist in Model)
            {
                <tr>
                    @*<td>@Html.DisplayFor(modelist => ist.studentId)</td>*@
                    <td>@Html.DisplayFor(modelist => ist.Namestring)</td>
                    <td>@Html.DisplayFor(modelist => ist.mark1)</td>
                    <td>@Html.DisplayFor(modelist => ist.mark2)</td>
                    <td>@Html.DisplayFor(modelist => ist.total)</td>
                    <td>@Html.HiddenFor(modelist => ist.studentId)</td>
                    <td>@Html.ActionLink("Delete", "Deletemark", "Home", new { studentid = ist.studentId }, new { @class = "btn-danger", onclick = "return confirm('Are you want to Delete');" })</td>

                </tr>

            }

        </table>

    </div>
</body>
</html>
