@model Studentmanagement.Core.Models.Studentinfomodel
<!DOCTYPE html>
<html>
<head>
    @section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/site.js"></script>
    }

    <title>
        Student Information adding
    </title>
</head>
<body>
    <h1>Student Marks</h1>
    @Html.ValidationSummary(true)
    <div class="form-group">
        @using (Html.BeginForm("Show", "Home",FormMethod.Post,new { @id = "formvalia" }))
        {
            <div class="form-control">
                @Html.DisplayName("Name")
                @Html.TextBoxFor(x => x.name)
                @Html.ValidationMessageFor(x=>x.name)
            </div>
            <div class="form-control">
                 @Html.DisplayName("Mail")
                 @Html.TextBoxFor(m => m.mail)
                @Html.ValidationMessageFor(m=>m.mail)
            </div>
            <div class="form-control">
                @Html.DisplayName("Department")
                @Html.ValidationMessageFor(x => x.StudentDepartment)
                @Html.DropDownList("StudentDepartment", new SelectList(Model.Department, "DepartmentId", "DepartmentName"), "")

            </div>
            <div class="form-control">
                @Html.DisplayName("Gender")
                @Html.DisplayName("Male")
                @Html.RadioButtonFor(m => m.Gender, "Male")
                @Html.DisplayName("Female")
                @Html.RadioButtonFor(m => m.Gender, "Female")
                @Html.ValidationMessageFor(x => x.Gender)
            </div>
        <div> <button type="submit" onclick="SubmitDetails()" class="btn-success">SAVE</button></div>
}
    </div>
    <div>
  @Html.ActionLink("Dashboard", "Display", "Home", new { }, new { @class = "btn-info p-2" })</div>
   
</body>

</html>
