@model IEnumerable<Studentmanagement.Core.Models.Employeemanagemet>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
@Html.ActionLink("Add-Employee-Detail", "Create", "Employee")
@Html.ActionLink("Logout", "Index", "Employee")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentstring)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.work)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                @Html.HiddenFor(modelItem => item.studentID)
                <td>
                    @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.studentID }, new { @class = "btn-primary buttons" })
                    @*<button type="button"onclick="/Employee/Edit" class="btn-primary">Edit</button>*@
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Employee", new { studentid = item.studentID }, new { @class = "btn-info buttons" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Employee", new { studentid = item.studentID }, new { @class = "btn-warning buttons" })
                </td>
            </tr>
        }
    </tbody>

</table>
<h5>Total Employee count =@(Model.Count())</h5>
